.App {
  font: 400;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  flex-wrap: wrap;
  text-align: center;
}

.msg {
  width: 100vw;
}

.steps {
  width: 55%;
}

.steps li {
  margin-top: 1em;
}

.ant-modal {
  backdrop-filter: blur(100px) !important;
  height: 150px !important;
}
.ant-input::placeholder{
  color: #ffffffcc !important;
}
.ant-modal-content {
  background-color: #d9d9d94c !important;
}
.ant-btn-primary {
  background-color: #d9d9d97c !important;
}
.ant-btn-default {
  color: white !important;
}
.ant-btn-default:hover {
  border-color: #d9d9d97c !important;
}
.ant-btn-primary:hover {
  background-color: grey !important;
}

.anticon > svg {
  fill: white;
}

.bookmarkContainer-active {
  opacity: 1;
  transform: translateX(0);
}
.bookmarkContainer-inactive {
  opacity: 0;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out, opacity 0.2s ease-in-out 0.3s !important;
}
.bookmarkContainer {
  transition: transform 0.5s ease-in-out, opacity 0.2s ease-in-out;
}
